 .contains{
   
    margin: 0%;
    height: 60vh;
    width: 100%;
    padding: 0%;
    background-image: url('../../images/about.jpg');
    background-size: cover;
    background-position: center center;

    
}
hr{
    border: 1px solid;
}
.container p{
    font-size: 115%;
    margin: 10%;
}
@media only screen and (min-width: 728px) {
.contains{
    height:75vh
}
}